.navbar {
    top: 10px;
    left: 10px;
    height: 100px;
    position: fixed;
    border-radius: 12px;
    width: calc(100% - 20px);
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: rgba(2, 1, 1, 0.1) 0px 5px 20px -5px;
}